* {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    margin: 0;
    background: #222831;
    /* color: white; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    width: 100%;
    display: flex;
}

header {
    display: fixed;
    top: 0;
    left: 0;
    color: whitesmoke;
    padding: 2rem;
    text-align: center;
    background: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    min-height: 100%;
    padding-bottom: 100%;
}

.input-txt {
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    border-bottom: 1px solid grey;
    margin: 2rem 0;
    font-size: 1.4rem;
    padding: 5px;
}

.movie-container {
    padding: 2rem;
}

.movie-container > p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: Lucida Sans, 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
}

.child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.greater-child {
    display: flex;
    background: white;
    padding: 1rem;
    width: 640px;
    border-radius: 4px;
    margin: 0 2rem 2rem 0;
}

.greater-child img {
    width: 35%;
}

.details {
    padding: 0 1rem;
}

.details h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
}

.details p.rate {
    font-size: 1.4rem;
    font-weight: normal;
}

.details span.rating {
    background: rgb(243, 120, 19);
    padding: 0 3px;
    border-radius: 3px;
    color: white;
}

.overview {
    font-size: 1.2rem;
    width: 100%;
    height: 135px;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    header {
        padding: 2rem;
    }

    .greater-child {
        width: 32rem;
        padding: 5px;
        margin: 5px 0;
    }
}