* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: sandybrown;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
}

.input-txt {
    /* max-width: 900; */
    width: 100%;
    height: 7%;
    border: 3px solid saddlebrown;
    border-radius: 3px;
    /* padding-top: 10px; */
    margin-top:10px;
    min-width: 150px;
    /* max-width: 350px; */
}

#list li {
    /* width: 20%; */
    height: 25px;
    padding: 10px;
    list-style: none;
    background-color: #FFD365;
    display: block;
    
    /* list-style: none; to remove the check marks */
}

#list li:hover {
    background-color: #FDFFA9;
}