* {
    box-sizing: border-box;
}

body {
    background: url(./images/clock.jpg) no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(226, 230, 170);
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    /* border: 5px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 50%;
}

p {
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

span {
    color: rgb(200, 255, 0);
}

.inputs {
    padding: 10px 10px 25px 10px;
}

.inputs > * {
    width: 70px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

#time1 {
    background: aquamarine;
}

#time2 {
    background: aquamarine;
}

.btns {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btns > * {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    background: aquamarine;
    border: 3px solid rgb(225, 235, 228);
    border-radius: 3px;
}

.btn1 {
    padding: 10px 20px;
}

.btn1:hover {
    background: rgb(113, 190, 82);
}

.btn2:hover {
    background: rgb(113, 190, 82);
}

