.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #f5f5f5;
}


.image-abbas {
    /* width: 350px; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;

}

.icons {
    width: 30px;
    /* margin: 15px; */
    cursor: pointer;
}

.info-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-name {
    font-size: 1.6rem;
    margin: 0;
    margin: 5px 0px;
}

.job-title {
    color: orange;
    margin: 0;
    margin: 7px 0px;
}

.btn {
    width: 80%;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 grey;
    outline: none;
    border: none;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.email-icon {
    width: 15px;
    margin-right: 10px;
}

.about-container, .interests-container {
    padding: 20px;
    margin-left: 10px;
    /* max-width: 250px; */
}

.about-container h2, .interests-container h2 {
    font-size: 1.2rem;
    margin: 0;
}

.about-container p, .interests-container p {
    font-size: .8rem;
}

/* .interests-container {

} */


.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #d5d4d8;
    padding: 1rem 0;
    border-radius: 0px 0px 10px 10px;
}