* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient( rgb(218, 201, 171), rgb(231, 178, 178));
}
.first {
    background: linear-gradient(rgb(231, 178, 178), rgb(218, 201, 171));
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
}

.input-txt {
    width: 30%;
    height: 17%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgb(167, 145, 145);
    border: none;
}

.input-txt:focus {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
}

img {
    width: 165px;
    margin-top: 15px;
}

.container {
    height: 100%;
}
.child2 {
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
    margin: 0;
}

.title, .link {
    display: block;
}

#para {
    background: linear-gradient( rgb(218, 201, 171), rgb(231, 178, 178));
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(61, 47, 47);
    display: none;
}

button {
    padding: 10px;
    background: linear-gradient(rgb(248, 206, 213), rgb(197, 153, 148));
    border-radius: 5px;
    margin-top: 7px;
    width: 85px;
    color: rgb(29, 21, 23);
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}