* {
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(241, 236, 226),rgb(255, 255, 199),rgb(238, 238, 217));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child {
    border: 4px solid rgb(215, 98, 82);
    padding: 20px;
    background-color: rgb(214, 157, 52);
    /* margin-right: 20px; */
    width: 50%;

}

h1 {
    font-size: 1.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(52, 52, 192);
    text-align: center;
}

#para {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 0.5rem;
}

.btn {
    padding: 12px;
    background: rgb(174, 129, 245);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(193, 219, 211);
    align-items: center;
    /* margin-right: 20px; */
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn:hover {
    background: rgb(156, 39, 78);
}

#joke-id {
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#joke-category {
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}