* {
    box-sizing: border-box;
}

body {
    background: url(../images/citynight.jpg) no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.child {
    border: 5px solid rgb(98, 0, 128);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(238, 233, 192);
    width: 35%;
    height: 35%;
    border-radius: 10px;
}

h2 {
    background-color: rgb(35, 20, 51);
    padding: 5px 50px;
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
}

.date {
    display: flex;
    justify-content: center;
    background: rgb(223, 86, 86);
    height: 100px;
    font-size: 1.6rem;
    text-align: center;
}
.current {
    background-color: rgb(45, 45, 129);
    margin-top: 0;
    padding: 20px 0px;
    text-align: center;
}