* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans' , sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: indianred;
    height: 100vh;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

header{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 3rem;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
}


header h1 span {
    font-weight: 700;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form button{
    outline: none;
    border: 1px solid white;
    padding: 8px;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
}

form button:hover{
    background-color: aquamarine;
}

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0, 0, 0, .5);
    z-index: 1;
}

.modal-content {
    width: 80%;
    max-width: 60rem;
    background-color:whitesmoke;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #777;
    text-align: center;
    animation: slide ease .8s;
}

@keyframes slide {
    0% {
        transform: translateY(-30rem);
    }
    100% {
        transform: translateY(0rem);
    }
}