.main {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .main div {
    margin: 25px;
    cursor: pointer;
  }
  .main div:hover {
    color: rgb(168, 168, 168);
  }