html {
    height: 100vh;
    font-family: Baloo;
}

body {
    padding: 10px;
    background-image: linear-gradient(#5DA4D9, #FFF);
}

#emoji-container {
    margin: 40px;
    text-align: center;
}

#emoji-container span {
    margin: 10px;
    font-size: 60px;
}

#push-btn,#unshift-btn {
    background-color: #80D87F;
}

#shift-btn,#pop-btn {
    background-color: #E23349;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

button {
    font-family: Baloo;
    letter-spacing: px;
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 0 4px;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
}
