.header input {
    padding: .7rem 3rem .7rem 3rem;
    background: linear-gradient(to right, lightblue, lightcyan);
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    border: none;
}

.header button {
    padding: .90rem 1.4rem .70rem 1.4rem;
    border: none;
    background: linear-gradient(to right, rgb(74, 195, 80), lightskyblue);
    border-radius: 2px;
    font-weight: 600;
    color: snow;

}

.header button:hover {
    background: lightcoral;
}

.header {
    text-align: center;
    margin-top: 30px;
    color: white;
    margin-bottom: 30px;
}

.main-card {
    background: whitesmoke;
    max-width: 1100px;
    margin: 0 auto;
    background: transparent;
    
}

.card-image-data img {
    width: 340px;
    /* width: 100%; */
    height: 250px;
    object-fit: cover;
    margin: 0;
    font-size: 0;
    display: block;
}

.card-image-data:hover {
    transform: scale(1.2);
    transition: .35s ease;
}

.card-image-data {
    cursor: pointer;
}

.card-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.white-bg {
    background: whitesmoke;
    margin-bottom: 20px;
    padding: 1.7rem;
    /* margin: 0; */
    
}

p {
    margin: 0;
}

@media screen and (max-width: 750px) {
    .main-card {
        background: whitesmoke;
        max-width: 500px;
    }
}