*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/aron-visuals-BXOXnQ26B7o-unsplash.jpg);
    background-repeat: no-repeat;
    color: azure;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
}

h1{
    font-size: 2.7rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2rem;
    /* text-transform: uppercase; */
    color: rgb(233, 230, 198);
    padding: 25px;
}

h2{
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(94, 211, 172);
}

#countdown {
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode'
}