html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(to right, #FFFAD1, lightskyblue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
