html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, lightskyblue, lightpink, whitesmoke);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
