.App {
  max-width: 800px;
  margin: 5px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 10px;
}

.card {
  position: relative;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid whitesmoke;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in .2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.card .back {
  transition: all ease-in .2s;
  transition-delay: .2s;
}

.flipped .back {
  transition: all ease-in .2s;
  transition-delay: .2s;
}

.header {
  margin-bottom: 20px;
}

.turns {
  margin: 0;
  padding: 0;
  font-weight: 600;
}


@media screen and (max-width: 700px) {
    .App {
      max-width: 350px;
    }
}