.shapeTop {
	position: absolute;
	right: 0;
	width: 20vw;
	z-index: -1;
}

.shapeBottom {
	position: absolute;
	bottom: 0;
	width: 18vw;
	z-index: -1;
}

.gameTitle {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}

.gameIntro {
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gameIntro h1 {
	margin: 0;
}

.gameIntro p {
	margin: 2em 0 2em 0;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.gameContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.gameText {
	text-align: center;
}

.gameOptionsContainer {
	margin-bottom: 1em;
}

.selectContainer {
	margin-bottom: 1.1em;
	width: 550px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.customSelect {
	border: 0;
	font: inherit;
	width: 100%;
	height: 3em;
	padding: 0 1em 0 1em;
	color: #293264;
	border-radius: 0.25em;
	box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.customLabel {
	font-size: 1.1em;
	font-weight: 700;
	margin-right: 1.5em;
	width: 250px;
}

.noQuestionsText {
	margin-bottom: 1.5em;
	text-align: center;
}

@media screen and (max-width: 625px) {
	.gameContainer {
		position: static;
		top: unset;
		left: unset;
		transform: none;
		padding: 2em 1em 0 1em;
	}

	.shapeTop {
		width: 25vw;
	}

	.shapeBottom {
		position: static;
		width: 40vw;
		z-index: -1;
	}

	.gameIntro {
		padding: 0 1.5em 0 1.5em;
		height: 85vh;
	}

	.customLabel {
		margin-right: 10px;
		width: 160px;
	}

	.selectContainer {
		width: 100%;
	}
}

.btnPrimary {
	background-color: #4D5B9E;
	color: #F5F7FB;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1em;
	border-radius: 15px;
	width: 190px;
	height: 50px;
	border: 0;
	cursor: pointer;
	z-index: 100;
}

.btnPrimary:active {
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) inset;
}

@media screen and (max-height: 800px) and (orientation: landscape) {
	.gameContainer {
		position: static;
		top: unset;
		left: unset;
		transform: none;
		padding: 2em 0;
		width: 700px;
		margin-right: auto;
		margin-left: auto;
	}

	.shapeBottom {
		position: static;
		width: 10vw;
		z-index: -1;
	}
}
