*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.counter{
    width: 35rem;
    /* height: 10rem; */
    border: 1px solid grey;
    padding: 1rem;
    background-color: rgba(0, 183, 255, 0.877);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.counter > * {
    margin-bottom: .5rem;
    margin-top: .7rem;
}

.count {
    font-size: 3.4rem;
}


.input-txt {
    width: 100%;
    padding: 1rem;
    /* margin: 0 1rem; */
    font-size: 1rem;
    color: rgb(43, 4, 4);
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: white;
}

.count {
    color: rgb(255, 127, 127);
}

h1 {
    /* border-style: 22px solid black; */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff; */
    color: cadetblue;
}