*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 233, 151);
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: rgb(92, 111, 219);
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}
